#map {
  height: 100%;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  padding: 1vh;
  text-align: center;
}

.marker {
  display: block;
}

#legend {
  position: fixed !important;
  font-family: Arial, sans-serif;
  margin: 0 auto 20px;
  display: flex;
  flex-wrap: wrap;
  max-width: 95%;
  width: 95%;
  background-color: #fff;
  padding: 2%;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1882352941);
}
#legend > div {
  display: flex;
  font-size: 0.9rem;
  flex: auto;
}
#legend > div.break {
  flex-basis: 100%;
}
#legend > div > div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0.5rem;
  flex: 1 auto;
  text-align: center;
  font-weight: bold;
}
#legend > div > div > div {
  text-align: left;
}
#legend > div:nth-child(-n+3), #legend > div:nth-child(8) {
  color: #fff;
}
#legend > div:nth-child(10) > div > div:first-child {
  outline: 1px solid #666;
}
#legend > div:nth-child(n+8) {
  background-color: #fff;
}
#legend > div:nth-child(n+8) > div {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
#legend > div:nth-child(n+8) > div > div:first-child {
  width: 30px;
  height: 30px;
}
#legend > div:nth-child(n+8) > div > div:last-child {
  padding-left: 10px;
  flex: 2;
}
#legend > div#label {
  color: #676767;
  padding: 0 0 10px;
  font-size: 1.1rem;
  flex: 1 1 100%;
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
}
#legend > div#label.separator {
  margin-top: 10px;
  padding: 15px 0 0;
  border-top: 1px solid #b0b0b0;
}
@media screen and (min-width: 480px) {
  #legend > div {
    flex: 1;
  }
}
@media screen and (min-width: 600px) {
  #legend {
    padding: 10px;
    max-width: 80%;
    width: 80%;
  }
}

.name {
  opacity: 0;
  display: flex;
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 0;
}
.name i {
  display: inline;
}
.zoom .name {
  opacity: 1;
}

/*
* Property styles in unhighlighted state.
*/
.property {
  align-items: center;
  background-color: transparent;
  border-radius: 50%;
  color: #263238;
  display: flex;
  font-size: 14px;
  gap: 15px;
  height: 30px;
  justify-content: center;
  padding: 4px;
  position: relative;
  position: relative;
  transition: all 0.3s ease-out;
  width: 30px;
}
.property:after {
  display: none;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-top: 9px solid #FFFFFF;
  content: "";
  height: 0;
  left: 50%;
  position: absolute;
  top: 95%;
  transform: translate(-50%, 0);
  transition: all 0.3s ease-out;
  width: 0;
  z-index: 1;
}
.property .icon {
  align-items: center;
  display: flex;
  justify-content: center;
  color: #FFFFFF;
}
.property .icon svg {
  height: 20px;
  width: auto;
}
.property .details {
  display: none;
  background-color: #f4f4f4;
  border-radius: 8px;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
  align-items: center;
  flex: 1;
}
.property .details .title {
  padding: 1rem 0.5rem;
  background-color: #FFFFFF;
  border-right: 1px solid #095909;
  border-radius: 8px 0 0 8px;
}
.property .features {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
}
.property .features > div {
  align-items: center;
  display: flex;
  gap: 5px;
  padding: 0;
}
.property.highlight {
  height: auto;
  width: auto;
}
.property.highlight .details {
  display: flex;
}
.property.highlight .name {
  display: none;
}

/*# sourceMappingURL=style.css.map */
