// /* 
//  * Always set the map height explicitly to define the size of the div element
//  * that contains the map. 
//  */
 #map {
    height: 100%;
  }
  
//   /* 
//    * Optional: Makes the sample page fill the window. 
//    */
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  header {
    padding: 5vh;
    text-align: center;
  }
  
  #legend {
    font-family: Arial, sans-serif;
    margin: 0 auto 20px;
    display: flex;
    flex-wrap: wrap;
    max-width: 80%;
    width: 80%;
    border: 3px solid #fff;
    > div {
        display: flex;
        flex: 1;
        font-size: .9rem;
        background-color: #fff;
       &.break {
        flex-basis: 100%;
       }
        > div {
            padding: 2rem;
            flex: 1 auto;
        }
        &:nth-child(-n+4) {
                color: #fff;
                font-size: 1rem;
            }
        &:nth-child(n+8) {
            background-color: #fff;
                > div {
                    padding: 10px;
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    > div {
                        &:first-child {
                        width: 50px;
                        height: 50px;
                        }
                        &:last-child {
                            padding-left: 10px;
                        }
                    }
                }    
            }
            &#label {
                // font-size: 1rem;
                color: #000;
                background-color: #fff;
                padding: 10px;
                flex: 1 1 100%;
                width: 100%;
                max-width: 100%;
                display: flex;
                justify-content: space-between;
            }
     }
    }

  
  